/* style.css 파일 */
/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}



/* 네비게이션 바 스타일링 */
.navbar {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 로고 스타일 */
.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 60px; /* 로고의 높이 */
}

/* 메뉴 스타일 */
.navbar .menu {
    list-style: none;
    display: flex; /* 메뉴 항목을 가로로 나열 */
    padding-left: 0; /* 기본 ul의 패딩 제거 */
    padding-top: 20px;
}

.navbar .menu li {
    padding: 0px 80px; /* 항목 사이 간격 조정 */
    
}

.navbar .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* 사용자 정보 스타일 */
.navbar .user-info {
    color: #333;

    padding-top:20px;
}

.navbar .user-info > a{
    text-decoration: none;
    color:black;
}

.selectedFarm {
    background-color: #a1c4fd; /* 예시로 사용된 색상, 원하는 색상으로 변경 가능 */
}